:root{
   --color1: rgb(153, 97, 114);
   --color2: rgb(0, 73, 95);
}
.title{
    color: var(--color2);
}

.about{
    background-color: var(--color1);
}

mark{
    background-color: var(--color2);
    color: var(--color1);
}